<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin page</title>
</head>
<body>
    <nav class="navbar">


        <div class="left-side">mf hsfusfuaegwegaw

            <div class="left-part">
<img src="admin.page.html" >
            </div>

            <div class="left-part">
<h1>CustomCraft</h1>
            </div>
        </div>

        <div class="right-side">

         <div class="right-part">

         </div>

         <div class="right-part">

         </div>

        </div>






    </nav>
</body>
</html>